<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<center>
    <h4>{{user}} <form action='/user/users_update' method='post'><button type='submit' name='usr' value='{{user}}'>editar</button></form></h4>
    <p>
    <form action="/pokemon/poke_add" method="POST">
        <label for="poke">Pokemon name:</label>
        <p>
            <input name="poke" autocapitalize="none" id="poke" required placeholder="pikachu" size="30">
        <p>
            <input type="submit" value="Find!">
    </form>
    {{message}}<p>
    {{table|safe}}<p>
    <a href="/">Sair</a>
</center>
</body>
</html>