<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alterar Pokemon</title>
</head>
<body>
<center>

    <form action="poke" method="post">
        <label for="name">Pokemon {{pokemon}}:</label>
        <p>
            <img src="{{pic}}" alt='Pokemon' width='30' height='30'>
        <p>
            <label for="ability">Ability: {{ability}}</label>
        <p>
            <input type="text" name="ability" id="ability" placeholder="update ability">
        <p>
            <input type="submit" value="Alterar">
    </form>
</center>
</body>
</html>